@tailwind base;
@tailwind components;
@tailwind utilities;
.b{
    border: 2px solid blue;
}
body::-webkit-scrollbar{
    width: 0px;
    height: 0px;
    
}
.colorgray{
color: #9B9B9B;
}

.dashboard{
  
}